.exo1{
    background-color: #e57373;
}
.exo2{
    background-color: #f06292;
}
.exo3{
    background-color: #ba68c8;
}
.exo4{
    background-color: #9575cd;
}
.exo5{
    background-color: #7986cb;
}
.exo6{
    background-color: #64b5f6;
}
.exo7{
    background-color: #4fc3f7;
}

.text1{
    color: #e57373;
}
.text2{
    color: #f06292;
}
.text3{
    color: #ba68c8;
}
.text4{
    color: #9575cd;
}
.text5{
    color: #7986cb;
}
.text6{
    color: #64b5f6;
}
.text7{
    color: #4fc3f7;
}

